<h1>Listing juicers</h1>
<table>
  <thead>
    <tr>
      <th>   Encargado   </th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @juicers.each do |juicer| %>
      <tr>
        <td><%= juicer.name %></td>
        <!--<td><%#= link_to 'Show', juicer %></td>-->
        <td><%= link_to 'Edit', edit_juicer_path(juicer) %></td>
       <td><%= link_to 'Destroy', juicer, method: :delete, data: { confirm: 'Are you sure?' } %></td>-
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Juicer', new_juicer_path %>
